@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }

  header .menu {
    display: none;
  }

  header .container .logo a {
    font-weight: 700;
    font-size: 28px;
  }

  header ul {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  header ul li a {
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s color;
  }

  header ul li a:hover {
    color: var(--main-color);
  }

  header ul li a.active {
    color: var(--main-color);
  }
/* edited By israa */
  /* header ul li.about-visit {
    padding: 10px 20px;
    background-color: black;
    border-radius: 50px;
    color: white;
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;
    transition: 0.5s color;
    width: 180px;
  }
  header ul li.about-visit:hover a {
    color: var(--main-color);
  }

  header ul li.about-visit a {
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
  }
  header ul li.about-visit span {
    width: 41px;
    height: 41px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
  } */
  section.home .container .caption {
    margin-left: 100px;
    max-width: 460px;
  }

  section.home .container .caption p {
    font-weight: 700;
    line-height: 75px;
  }

  .feature .content h2 {
    max-width: 560px;
    font-size: 40px;
  }

  .title p {
    max-width: 615px;
    font-size: 40px;
  }

  .fixed-img .image-box {
    top: 10px;
  }

  .counters {
    margin-top: 90px;
  }

  .contact-info .information {
    margin-top: 30px;
  }

}

@media screen and (min-width: 992px) {
  .container {
    width: 950px;
  }

  nav {
    display: block;
  }

  header ul {
    gap: 35px;
  }

  section.home .container .caption {
    max-width: 295px;
  }

  .feature .container {
    display: flex;
    gap: 30px;
  }

  .feature .image-box {
    display: flex;
    gap: 30px;
  }

  .feature a {
    bottom: 150px;
    left: -20px;
  }

  .feature .content span {
    margin-top: 0;
    font-size: 15px;
  }

  .feature .content h2 {
    max-width: 350px;
    font-size: 40px;
  }

  .information ul {
    padding-inline: 40px;
  }

  .fixed-img .container {
    width: 960px;
  }

  .fixed-img .image-box {
    top: -20px;
  }

  .title p {
    max-width: 300px;
  }

  .counters {
    margin-top: 170px;
  }

  .counters .container {
    display: flex;
  }

  .contact-desc {
    display: flex;
    gap: 40px;
  }

  .contact form {
    background-color: #fff;
    width: 40%;
    height: fit-content;
  }

  .contact .contact-info {
    display: flex;
    gap: 40px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    width: 1140px;
  }

  section.home .container .caption {
    max-width: 342px;
  }

  section.feature {
    margin-top: 40px;
  }

  .feature a {
    bottom: 69px;
    left: -20px;
  }

  .feature .image img {
    width: 90%;
  }

  .title p {
    max-width: 350px;
  }
}